* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #images {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    background-color: black;
  }
  
  #name {
    text-align: center;
    position: relative;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
  }
  
  #data {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    margin: 20px;
  }
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
